In [1]:
import pandas as pd
import re
import requests

In [2]:
from transformers import AutoTokenizer, AutoModelForTokenClassification
from transformers import pipeline

None of PyTorch, TensorFlow >= 2.0, or Flax have been found. Models won't be available and only tokenizers, configuration and file/data utilities can be used.

In [3]:
df = pd.read_csv('../raw_data/database_entities.csv')
df

       Unnamed: 0  entity     score  index        word  start   end  line_id
0               0   B-PER  0.915520      4           V     11    12        0
1               1   B-LOC  0.999274     17    American     51    59        0
2               2   I-LOC  0.998381     18       Samoa     60    65        0
3               3  B-MISC  0.999530     29  Vietnamese    104   114        0
4               4   B-ORG  0.973456     46        Tour    196   200        0
...           ...     ...       ...    ...         ...    ...   ...      ...
15967       15967   I-LOC  0.996284    223         ##z    970   971     1357
15968       15968   B-LOC  0.999348    284           A   1227  1228     1357
15969       15969   I-LOC  0.874068    285      ##gade   1228  1232     1357
15970       15970   I-LOC  0.987688    286         ##z   1232  1233     1357
15971       15971   B-LOC  0.999789    293     Nigeria   1255  1262     1357

[15972 rows x 8 columns]

In [4]:
df = df.drop(columns = ['Unnamed: 0', 'index', 'start', 'end'])
df

       entity     score        word  line_id
0       B-PER  0.915520           V        0
1       B-LOC  0.999274    American        0
2       I-LOC  0.998381       Samoa        0
3      B-MISC  0.999530  Vietnamese        0
4       B-ORG  0.973456        Tour        0
...       ...       ...         ...      ...
15967   I-LOC  0.996284         ##z     1357
15968   B-LOC  0.999348           A     1357
15969   I-LOC  0.874068      ##gade     1357
15970   I-LOC  0.987688         ##z     1357
15971   B-LOC  0.999789     Nigeria     1357

[15972 rows x 4 columns]

In [5]:
df = df[(df["entity"]=="B-LOC")|(df["entity"]=="I-LOC")][df["score"]>0.98]

/var/folders/rv/1874f2853zqf1lx4mr_wkbsc0000gn/T/ipykernel_28372/4092738895.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = df[(df["entity"]=="B-LOC")|(df["entity"]=="I-LOC")][df["score"]>0.98]

In [6]:
df.rename(columns={"line_id": "victim_id"})

      entity     score      word  victim_id
1      B-LOC  0.999274  American          0
2      I-LOC  0.998381     Samoa          0
7      B-LOC  0.999507        US          0
9      B-LOC  0.999251  American          0
10     I-LOC  0.998292     Samoa          0
...      ...       ...       ...        ...
15965  B-LOC  0.999359         A       1357
15967  I-LOC  0.996284       ##z       1357
15968  B-LOC  0.999348         A       1357
15970  I-LOC  0.987688       ##z       1357
15971  B-LOC  0.999789   Nigeria       1357

[5345 rows x 4 columns]

In [7]:
r=list(df['word'].unique())

In [8]:
s=list()
for i in r:
    if len(re.findall("#.*",i))==0:
        s.append(i)
    else:
        pass
s

['American',
 'Samoa',
 'US',
 'Col',
 'Sri',
 'Lanka',
 'Lebanon',
 'Beirut',
 'Allah',
 'Ka',
 'N',
 'G',
 'K',
 'Cameroon',
 'United',
 'States',
 'America',
 'Minnesota',
 'of',
 'Haiti',
 'Port',
 '-',
 'au',
 'Prince',
 'Mexico',
 'Arizona',
 'Florida',
 'No',
 'Ma',
 'Bar',
 'Ram',
 'Son',
 'Uttar',
 'Pradesh',
 'India',
 'San',
 'Niger',
 'Mali',
 'Egypt',
 'Paris',
 'France',
 'Myrtle',
 'Beach',
 'SC',
 'Miami',
 'FL',
 'Houston',
 'TX',
 'Diego',
 'CA',
 'New',
 'Orleans',
 'LA',
 'Scott',
 'A',
 'Chicago',
 'IL',
 'Columbus',
 'OH',
 'Denver',
 'CO',
 'Silver',
 'Spring',
 'England',
 'Koch',
 'Nigeria',
 'Europe',
 'South',
 'Africa',
 'Johannesburg',
 'B',
 'Be',
 'Pieter',
 'Hill',
 'Los',
 'Angeles',
 'U',
 'S',
 '.',
 'Indonesia',
 'York',
 'City',
 'NY',
 'Mom',
 'Southern',
 'Boston',
 'Philippines',
 'California',
 'North',
 'Korea',
 'China',
 'Tu',
 'River',
 'USA',
 'Beijing',
 'Guangdong',
 'Province',
 'To',
 'Ko',
 'Ghana',
 'Northern',
 'Sudan',
 'Ukraine',
 'Virginia',
 'Kiev',
 'Washington',
 'D',
 'C',
 'Detroit',
 'Lia',
 'Jersey',
 'Atlantic',
 'Philadelphia',
 'Mississippi',
 'Cambodia',
 'Thailand',
 'Me',
 'Mumbai',
 'Belgium',
 'UK',
 'Japan',
 'Hong',
 'Kong',
 'Singapore',
 'Ten',
 'Spain',
 'Madrid',
 'London',
 'Coventry',
 'Romania',
 'Birmingham',
 'Kabul',
 'Hungary',
 'Sierra',
 'Leone',
 'Ecuador',
 'Dominican',
 'Republic',
 'Kansas',
 'Portland',
 'Honduras',
 'Fresno',
 'Belize',
 'Central',
 'Place',
 'Texas',
 'Nevada',
 'Oregon',
 'DC',
 'Street',
 'Ireland',
 'Belfast',
 'Lithuania',
 'Italy',
 'Lagos',
 'Qatar',
 'Gulf',
 'Nepal',
 'Ball',
 'Scotland',
 'Se',
 'Bangladesh',
 'Pedro',
 'Sul',
 'Australia',
 'Sydney',
 'Melbourne',
 'Heath',
 'Ha',
 'Vietnam',
 'Puerto',
 'Mal',
 'Pam',
 'Kat',
 'Tan',
 'Minas',
 'Sicily',
 'Moscow',
 'Yo',
 'Co',
 'An',
 'Alaska',
 'Pakistan',
 'Delhi',
 'Dubai',
 'Netherlands',
 'Mu',
 'Si',
 'Assam',
 'Block',
 'District',
 'Bihar',
 'Gujarat',
 'Lo',
 'R',
 'V',
 'Tamil',
 'Nadu',
 'Gloucester',
 'Czech',
 'Kingdom',
 'Trinidad',
 'and',
 'Tobago',
 'Rome',
 'Lawrence',
 'Top',
 'Ada',
 'Guinea',
 'Cincinnati',
 'Abu',
 'Dhabi',
 'Tanzania',
 'Oman',
 'UAE',
 'Dar',
 '[',
 'es',
 'Sal',
 'Eastern',
 'Croydon',
 'Oakland',
 'Bo',
 'Ba',
 'Bang',
 'Manila',
 'Francisco',
 'Manhattan',
 'Brazil',
 'Connecticut',
 'Colombia',
 'Uganda',
 'T',
 'Da',
 'Senegal',
 'Di',
 'Ph',
 'Pen',
 'Burma',
 'Asia',
 'St',
 'NW',
 'Malaysia',
 'Ben',
 'Island',
 'Ming',
 'Man',
 'O',
 'Ray',
 'Bangkok',
 'Germany',
 'Ave',
 '400',
 'M',
 'Mo',
 'Chang',
 'Croatia',
 'Bosnia',
 'Albania',
 'Edinburgh',
 'Go',
 'Desert',
 'Mongolia',
 'Congo',
 'Democratic',
 'Myanmar',
 'Manchester',
 'Cape',
 'Town',
 'Western',
 'Park',
 'station',
 'Vol',
 'Lake',
 'W',
 'Bud',
 'Rwanda',
 'Vegas',
 'Mode',
 'Jose',
 'Las',
 'He',
 'East',
 'Kosovo',
 'Met',
 'Ad',
 'Mac',
 'County',
 'Jo',
 'De',
 'Mei',
 'Maria',
 'Bai',
 'Vancouver',
 'Canada',
 'Honolulu',
 'Hawaii',
 'Poland',
 'Britain',
 'Latvia',
 'Soviet',
 'Union',
 'Punjab',
 'Southeast',
 'Liverpool',
 'Au',
 'So',
 'Heaven',
 'Hunt',
 'Alabama',
 'Cebu',
 'Sin',
 'Iraq',
 'IS',
 'Cho',
 'Sand',
 'Mir',
 'Kota',
 'Ki',
 'Ku',
 'Kuwait',
 'State',
 'In',
 'Budapest',
 'Libya',
 'Yi',
 'Pune',
 'Du',
 'Benin',
 'Holland',
 'Sweden',
 'Hui',
 'P',
 'Guadalajara',
 'J',
 'West',
 'Q',
 'Ni',
 'Na',
 'Tokyo',
 'Greece',
 'Siberia',
 'Russia',
 'Israel',
 'Tel',
 'Aviv',
 'Saw',
 'Don',
 'Ch',
 'Ng',
 'As',
 'Z',
 'Cairo',
 'Sid',
 'Jakarta',
 'Sur',
 'Tim',
 'Su',
 'Ke',
 'Veracruz',
 'Orlando',
 'Liberia',
 'Mon',
 'El',
 'Saudi',
 'Arabia',
 'Tbilisi',
 'Ash',
 'Jiang',
 'Shanghai',
 'Toronto',
 'Ping',
 'Police',
 'Station',
 'Shi',
 'Yerevan',
 'Ohio',
 'Athens',
 'Glasgow',
 'Qing',
 'Township',
 'Tirana',
 'Ho',
 'Sichuan',
 'Geneva',
 'Syria',
 'Has',
 'Jess',
 'Kolkata',
 'Al',
 'Un',
 'Islamic',
 'Chan',
 'Ljubljana',
 'Bombay',
 'Lucknow',
 'Venezuela',
 'Caracas',
 'Pat',
 'My',
 'Jordan',
 'Baghdad',
 'E',
 'Haifa',
 'War',
 'Moldova',
 'Columbia',
 'Kara',
 'Armenia',
 'Turkey',
 'Istanbul',
 'Pa',
 'Carr',
 'Mont',
 'Zambia',
 'Kali',
 'Sacramento',
 'Browns',
 'Avon',
 'Am',
 'Bremen',
 'Slovakia',
 'Bohemia',
 'Miss',
 'Sumatra',
 'Wells',
 'Carolina',
 'Atlanta',
 'At',
 'Ye',
 'Mari',
 'Aria',
 'We',
 'Chi',
 'Black',
 'Sea',
 'Pol',
 'Marin',
 'Mata',
 'Petersburg',
 'Hamburg',
 'Milan',
 'Brussels',
 'Antwerp',
 'Bat',
 'Kenya',
 'Leo',
 'Bahrain',
 'Iran',
 'Joy',
 'Te',
 'Narayan',
 'Tang',
 'Din',
 'Bengal',
 'Dhaka',
 'Bari',
 'Sultan',
 'Bit',
 'Cyprus',
 'Telangana',
 'Gun',
 'Ang',
 'Karnataka',
 'Hyderabad',
 'Ra',
 'Sad',
 'Auburn',
 'Midlands',
 'Or',
 'Trip',
 'Sai',
 'Nairobi',
 'Cedar',
 'Rapids',
 'Rock',
 'Memphis',
 'Tennessee',
 'McKinley',
 'Oklahoma',
 'Dong',
 'Nashville',
 'Colorado',
 'Gabon',
 'Minneapolis',
 'Musa',
 'Ham',
 'On',
 'Sung',
 'Yan',
 'Dal',
 'Guangzhou',
 'Shan',
 'Lao',
 'Min',
 'Louis',
 'Georgia',
 'Azerbaijan',
 'Do',
 'Slovenia',
 'Bloom',
 'Franklin',
 'Somalia',
 'Argentina',
 'I',
 'Turin',
 'Ban',
 'Ethiopia',
 'Haryana',
 'Long',
 'Ji',
 'Yemen',
 'Sam',
 'Kurdistan',
 'Dundee',
 'Lab',
 'Chad',
 'Li',
 'Kashmir',
 'Dallas',
 'Mad',
 'Camp',
 'Fat',
 'Run',
 'Hollywood',
 'Stock',
 'Boulevard',
 'Suez',
 'Canal',
 'Sinai',
 'She',
 'Nile',
 'Gaza',
 'Sen',
 'End',
 'Mi',
 'Abe',
 'Tai',
 'Po',
 'Ya',
 'Macau',
 'Fiji',
 'Victoria',
 'F',
 'Lok',
 'Hills',
 'Kai',
 'Area',
 'Free',
 'Waterloo',
 'Taiwan',
 'Saigon',
 'Le',
 'Lu',
 'Islam',
 'Ta',
 'Tag',
 'Salem',
 'Inc',
 'Les',
 'White',
 'House',
 'L',
 'Jamaica',
 'Burkina',
 'Faso',
 'Nebraska',
 'Midwest',
 'Edo',
 'Hard',
 'Bad',
 'Peru',
 'Luton',
 'Medina',
 'Mindanao',
 'Temple',
 'Raja',
 'Bill',
 'Kyrgyzstan',
 'Uzbekistan',
 'Kazakhstan',
 'Pet',
 'Caucasus',
 'Russian',
 'Federation',
 'Nov',
 'Thai',
 'Shah',
 'Ser',
 'Penang',
 'Pan',
 'Den',
 'Sep',
 'Hartford',
 'Rancho',
 'Santa',
 'Fe',
 'Fu',
 'Fuji',
 'al',
 'Sheikh',
 'Sahara',
 'Tripoli',
 'Malta',
 'Um',
 'Ara',
 'Sabha',
 'Cast']

In [9]:
canc=list()
for i in s:
    if len(i)==1:
        canc.append(i)
    try:
        int(i)
        canc.append(i)
    except:
        pass

In [10]:
def transform(item):
    if item in canc:
        item=item.replace(item,"np.nan")
    return item
df["word"]=df["word"].apply(transform)

In [11]:
import numpy as np
df["word"]=df["word"].replace("#.*",np.nan,regex=True)

In [12]:
df=df.dropna(subset=["word"])

In [13]:
df=df[df["word"]!="np.nan"]

In [14]:
df.drop(columns="score",inplace=True)

In [15]:
df.drop(columns="entity",inplace=True)

In [16]:
df.rename(columns={"word":"location", "line_id":"victim_index"},inplace=True)

In [17]:
df

       location  victim_index
1      American             0
2         Samoa             0
7            US             0
9      American             0
10        Samoa             0
...         ...           ...
15958     Libya          1356
15959     Benin          1357
15960      City          1357
15964     Niger          1357
15971   Nigeria          1357

[4107 rows x 2 columns]

In [18]:
df.to_csv('victims_locations.csv')

In [19]:
coordinates = {}
for i in df['location'].unique():
    params = {'access_key':'f4fb3cb9d8780b5c1fd36dc5e846523b', 'query': i}
    response = requests.get('http://api.positionstack.com/v1/forward',params=params).json()
    print(i)
    if 'error' in response.keys():
        pass
    if 'data' in response.keys():
        if len(response['data']) ==0:
            pass
    
        try:
            latitude = response["data"][0]["latitude"]
            longitude = response["data"][0]["longitude"]
            country = response["data"][0]["country"]
            country_code = response["data"][0]["country_code"]
            coordinates[i] = [latitude, longitude, country, country_code]
        except TypeError:
            print(response)

American
Samoa
US
Col
Sri
Lanka
Lebanon
Beirut
Allah
Ka
Cameroon
United
States
America
Minnesota
of
Haiti
Port
au
Prince
Mexico
Arizona
Florida
No
Ma
Bar
Ram
Son
Uttar
Pradesh
India
San
Niger
Mali
Egypt
Paris
France
Myrtle
Beach
SC
Miami
FL
Houston
TX
Diego
CA
New
Orleans
LA
Scott
Chicago
IL
Columbus
OH
Denver
CO
Silver
Spring
England
Koch
Nigeria
Europe
South
Africa
Johannesburg
Be
Pieter
Hill
Los
Angeles
Indonesia
York
City
NY
Mom
Southern
Boston
Philippines
California
North
Korea
China
Tu
River
USA
Beijing
Guangdong
Province
To
Ko
Ghana
Northern
Sudan
Ukraine
Virginia
Kiev
Washington
Detroit
Lia
Jersey
Atlantic
Philadelphia
Mississippi
Cambodia
Thailand
Me
Mumbai
Belgium
UK
Japan
Hong
Kong
Singapore
Ten
Spain
Madrid
London
Coventry
Romania
Birmingham
Kabul
Hungary
Sierra
Leone
Ecuador
Dominican
Republic
Kansas
Portland
Honduras
Fresno
Belize
Central
Place
Texas
Nevada
Oregon
DC
Street
Ireland
Belfast
Lithuania
Italy
Lagos
Qatar
Gulf
Nepal
Ball
Scotland
Se
Bangladesh
Pedro
Sul
Australia
Sydney
Melbourne
Heath
Ha
Vietnam
Puerto
Mal
Pam
Kat
Tan
Minas
Sicily
Moscow
Yo
Co
An
Alaska
Pakistan
Delhi
Dubai
Netherlands
Mu
Si
Assam
Block
District
Bihar
Gujarat
Lo
Tamil
Nadu
Gloucester
Czech
Kingdom
Trinidad
and
Tobago
Rome
Lawrence
Top
Ada
Guinea
Cincinnati
Abu
Dhabi
Tanzania
Oman
UAE
Dar
es
Sal
Eastern
Croydon
Oakland
Bo
Ba
Bang
Manila
Francisco
Manhattan
Brazil
Connecticut
Colombia
Uganda
Da
Senegal
Di
Ph
Pen
Burma
Asia
St
NW
Malaysia
Ben
Island
Ming
Man
Ray
Bangkok
Germany
Ave
Mo
Chang
Croatia
Bosnia
Albania
Edinburgh
Go
Desert
Mongolia
Congo
Democratic
Myanmar
Manchester
Cape
Town
Western
Park
station
Vol
Lake
Bud
Rwanda
Vegas
Mode
Jose
Las
He
East
Kosovo
Met
Ad
Mac
County
Jo
De
Mei
Maria
Bai
Vancouver
Canada
Honolulu
Hawaii
Poland
Britain
Latvia
Soviet
Union
Punjab
Southeast
Liverpool
Au
So
Heaven
Hunt
Alabama
Cebu
Sin
Iraq
IS
Cho
Sand
Mir
Kota
Ki
Ku
Kuwait
State
In
Budapest
Libya
Yi
Pune
Du
Benin
Holland
Sweden
Hui
Guadalajara
West
Ni
Na
Tokyo
Greece
Siberia
Russia
Israel
Tel
Aviv
Saw
Don
Ch
Ng
As
Cairo
Sid
Jakarta
Sur
Tim
Su
Ke
Veracruz
Orlando
Liberia
Mon
El
Saudi
Arabia
Tbilisi
Ash
Jiang
Shanghai
Toronto
Ping
Police
Station
Shi
Yerevan
Ohio
Athens
Glasgow
Qing
Township
Tirana
Ho
Sichuan
Geneva
Syria
Has
Jess
Kolkata
Al
Un
Islamic
Chan
Ljubljana
Bombay
Lucknow
Venezuela
Caracas
Pat
My
Jordan
Baghdad
Haifa
War
Moldova
Columbia
Kara
Armenia
Turkey
Istanbul
Pa
Carr
Mont
Zambia
Kali
Sacramento
Browns
Avon
Am
Bremen
Slovakia
Bohemia
Miss
Sumatra
Wells
Carolina
Atlanta
At
Ye
Mari
Aria
We
Chi
Black
Sea
Pol
Marin
Mata
Petersburg
Hamburg
Milan
Brussels
Antwerp
Bat
Kenya
Leo
Bahrain
Iran
Joy
Te
Narayan
Tang
Din
Bengal
Dhaka
Bari
Sultan
Bit
Cyprus
Telangana
Gun
Ang
Karnataka
Hyderabad
Ra
Sad
Auburn
Midlands
Or
Trip
Sai
Nairobi
Cedar
Rapids
Rock
Memphis
Tennessee
McKinley
Oklahoma
Dong
Nashville
Colorado
Gabon
Minneapolis
Musa
Ham
On
Sung
Yan
Dal
Guangzhou
Shan
Lao
Min
Louis
Georgia
Azerbaijan
Do
Slovenia
Bloom
Franklin
Somalia
Argentina
Turin
Ban
Ethiopia
Haryana
Long
Ji
Yemen
Sam
Kurdistan
Dundee
Lab
Chad
Li
Kashmir
Dallas
Mad
Camp
Fat
Run
Hollywood
Stock
Boulevard
Suez
Canal
Sinai
She
Nile
Gaza
Sen
End
Mi
Abe
Tai
Po
Ya
Macau
Fiji
Victoria
Lok
Hills
Kai
Area
Free
Waterloo
Taiwan
Saigon
Le
Lu
Islam
Ta
Tag
Salem
Inc
Les
White
House
Jamaica
Burkina
Faso
Nebraska
Midwest
Edo
Hard
Bad
Peru
Luton
Medina
Mindanao
Temple
Raja
Bill
Kyrgyzstan
Uzbekistan
Kazakhstan
Pet
Caucasus
Russian
Federation
Nov
Thai
Shah
Ser
Penang
Pan
Den
Sep
Hartford
Rancho
Santa
Fe
Fu
Fuji
al
Sheikh
Sahara
Tripoli
Malta
Um
Ara
Sabha
Cast

In [20]:
coordinates

{'American': [40.769013, -84.192828, 'United States', 'USA'],
 'Samoa': [-13.63914, -172.438241, 'Samoa', 'WSM'],
 'Col': [3.420497, -73.166783, 'Colombia', 'COL'],
 'Sri': [32.93643, 74.399, 'Pakistan', 'PAK'],
 'Lanka': [7.622919, 80.68822, 'Sri Lanka', 'LKA'],
 'Lebanon': [34.095821, 35.95655, 'Lebanon', 'LBN'],
 'Beirut': [33.88432, 35.501527, 'Lebanon', 'LBN'],
 'Allah': [13.51238, 7.60735, 'Niger', 'NER'],
 'Cameroon': [4.585076, 12.473672, 'Cameroon', 'CMR'],
 'United': [37.99066, -81.4265, 'United States', 'USA'],
 'States': [39.715956, -96.999668, 'United States', 'USA'],
 'America': [39.715956, -96.999668, 'United States', 'USA'],
 'Minnesota': [46.63636, -94.579641, 'United States', 'USA'],
 'Haiti': [19.251299, -72.294701, 'Haiti', 'HTI'],
 'Port': [33.461769, -117.701464, 'United States', 'USA'],
 'Prince': [46.578691, -63.966903, 'Canada', 'CAN'],
 'Mexico': [19.371422, -99.150344, 'Mexico', 'MEX'],
 'Arizona': [34.255149, -111.62621, 'United States', 'USA'],
 'Florida': [27.97762, -81.769611, 'United States', 'USA'],
 'Bar': [42.09306, 19.10028, 'Montenegro', 'MNE'],
 'Ram': [31.84945, 35.2342, 'Palestine', 'PSE'],
 'Son': [29.746093, -110.573384, 'Mexico', 'MEX'],
 'Uttar': [26.879641, 80.56982, 'India', 'IND'],
 'Pradesh': [26.879641, 80.56982, 'India', 'IND'],
 'India': [22.364293, 79.029432, 'India', 'IND'],
 'San': [32.72793, -117.15529, 'United States', 'USA'],
 'Niger': [17.431408, 9.521564, 'Niger', 'NER'],
 'Mali': [18.683211, -2.015109, 'Mali', 'MLI'],
 'Egypt': [26.42231, 29.227089, 'Egypt', 'EGY'],
 'Paris': [48.858705, 2.342865, 'France', 'FRA'],
 'France': [46.698481, 2.549047, 'France', 'FRA'],
 'Myrtle': [41.98173, -78.24168, 'United States', 'USA'],
 'Beach': [33.675842, -118.0217, 'United States', 'USA'],
 'Miami': [10.96389, -74.79639, 'Colombia', 'COL'],
 'Houston': [29.784753, -95.361416, 'United States', 'USA'],
 'Diego': [7.96972, -81.36333, 'Panama', 'PAN'],
 'New': [37.78234, -80.99037, 'United States', 'USA'],
 'Orleans': [47.90345, 1.90081, 'France', 'FRA'],
 'Scott': [40.384641, -80.080824, 'United States', 'USA'],
 'Chicago': [41.87897, -87.66063, 'United States', 'USA'],
 'Columbus': [39.98072, -82.985586, 'United States', 'USA'],
 'Denver': [39.740959, -104.985798, 'United States', 'USA'],
 'Silver': [46.75549, -112.16973, 'United States', 'USA'],
 'Spring': [40.279413, -76.047392, 'United States', 'USA'],
 'England': [52.59431, -1.461208, 'United Kingdom', 'GBR'],
 'Koch': [8.613398, 29.811264, 'South Sudan', 'SSD'],
 'Nigeria': [9.404974, 7.607418, 'Nigeria', 'NGA'],
 'Europe': [55.859135, 39.579995, None, None],
 'South': [-27.555301, -51.383962, 'Brazil', 'BRA'],
 'Africa': [21.638471, 3.924068, None, None],
 'Johannesburg': [-26.151045, 27.974334, 'South Africa', 'ZAF'],
 'Pieter': [51.445543, 4.409879, 'Belgium', 'BEL'],
 'Hill': [32.015594, -97.116032, 'United States', 'USA'],
 'Los': [47.047632, 0.95424, 'France', 'FRA'],
 'Angeles': [15.144388, 120.596089, 'Philippines', 'PHL'],
 'Indonesia': [-1.003189, 101.972332, 'Indonesia', 'IDN'],
 'York': [44.00011, -79.46632, 'Canada', 'CAN'],
 'City': [51.513263, -0.089878, 'United Kingdom', 'GBR'],
 'Mom': [30.55377, 75.49284, 'India', 'IND'],
 'Southern': [-2.465862, 29.661449, 'Rwanda', 'RWA'],
 'Boston': [42.355492, -71.048611, 'United States', 'USA'],
 'Philippines': [16.932122, 121.387948, 'Philippines', 'PHL'],
 'California': [36.531544, -119.586168, 'United States', 'USA'],
 'North': [-3.700556, -62.287056, 'Brazil', 'BRA'],
 'Korea': [36.382192, 128.123986, 'South Korea', 'KOR'],
 'China': [32.529718, 106.802874, 'China', 'CHN'],
 'River': [13.14224, -59.43953, 'Barbados', 'BRB'],
 'USA': [39.715956, -96.999668, 'United States', 'USA'],
 'Beijing': [39.937967, 116.417592, 'China', 'CHN'],
 'Guangdong': [23.76822, 112.80027, 'China', 'CHN'],
 'Province': [18.43333, -72.83333, 'Haiti', 'HTI'],
 'Ghana': [7.85125, -0.982714, 'Ghana', 'GHA'],
 'Northern': [9.479309, -0.771111, 'Ghana', 'GHA'],
 'Sudan': [16.34997, 29.381307, 'Sudan', 'SDN'],
 'Ukraine': [49.219469, 33.023452, 'Ukraine', 'UKR'],
 'Virginia': [37.73086, -78.376655, 'United States', 'USA'],
 'Kiev': [50.469863, 30.431971, 'Ukraine', 'UKR'],
 'Washington': [38.82652, -77.01712, 'United States', 'USA'],
 'Detroit': [42.398649, -83.164515, 'United States', 'USA'],
 'Lia': [35.902416, 14.444708, 'Malta', 'MLT'],
 'Jersey': [49.224297, -2.130418, 'Jersey', 'JEY'],
 'Atlantic': [40.643655, -73.665795, 'United States', 'USA'],
 'Philadelphia': [39.990821, -75.168428, 'United States', 'USA'],
 'Mississippi': [32.921921, -89.687118, 'United States', 'USA'],
 'Cambodia': [12.635759, 104.480812, 'Cambodia', 'KHM'],
 'Thailand': [15.512883, 101.301707, 'Thailand', 'THA'],
 'Mumbai': [19.131577, 72.891418, 'India', 'IND'],
 'Belgium': [50.780688, 4.792712, 'Belgium', 'BEL'],
 'Japan': [36.13793, 138.441899, 'Japan', 'JPN'],
 'Hong': [10.23305, 12.92805, 'Nigeria', 'NGA'],
 'Kong': [9.85345, 30.05118, 'South Sudan', 'SSD'],
 'Singapore': [1.316382, 103.833828, 'Singapore', 'SGP'],
 'Ten': [50.852112, 4.367682, 'Belgium', 'BEL'],
 'Spain': [40.09095, -3.464618, 'Spain', 'ESP'],
 'Madrid': [40.429913, -3.669245, 'Spain', 'ESP'],
 'London': [51.509648, -0.099076, 'United Kingdom', 'GBR'],
 'Coventry': [41.7001, -71.68284, 'United States', 'USA'],
 'Romania': [45.727469, 24.984652, 'Romania', 'ROU'],
 'Birmingham': [52.478308, -1.893538, 'United Kingdom', 'GBR'],
 'Kabul': [34.52813, 69.17233, 'Afghanistan', 'AFG'],
 'Hungary': [47.086857, 19.447899, 'Hungary', 'HUN'],
 'Sierra': [37.513376, -120.863195, 'United States', 'USA'],
 'Leone': [-13.83519, -171.75766, 'Samoa', 'WSM'],
 'Ecuador': [-1.241567, -78.322784, 'Ecuador', 'ECU'],
 'Dominican': [19.105937, -70.804224, 'Dominican Republic', 'DOM'],
 'Republic': [37.118678, -93.471658, 'United States', 'USA'],
 'Kansas': [38.500327, -98.380429, 'United States', 'USA'],
 'Portland': [45.533467, -122.650095, 'United States', 'USA'],
 'Honduras': [14.762778, -86.920196, 'Honduras', 'HND'],
 'Fresno': [36.75156, -119.800612, 'United States', 'USA'],
 'Belize': [17.206637, -88.714488, 'Belize', 'BLZ'],
 'Central': [7.07306, 125.61278, 'Philippines', 'PHL'],
 'Place': [40.37444, 19.70639, 'Albania', 'ALB'],
 'Texas': [31.030974, -98.326329, 'United States', 'USA'],
 'Nevada': [39.440688, -116.598569, 'United States', 'USA'],
 'Oregon': [43.854178, -120.526709, 'United States', 'USA'],
 'Street': [38.921417, -77.025618, 'United States', 'USA'],
 'Ireland': [53.078731, -7.798618, 'Ireland', 'IRL'],
 'Belfast': [54.603533, -5.928807, 'United Kingdom', 'GBR'],
 'Lithuania': [55.103703, 24.089932, 'Lithuania', 'LTU'],
 'Italy': [45.003229, 11.083693, 'Italy', 'ITA'],
 'Lagos': [6.45306, 3.39583, 'Nigeria', 'NGA'],
 'Qatar': [25.208492, 51.155983, 'Qatar', 'QAT'],
 'Gulf': [-7.347793, 145.23418, 'Papua New Guinea', 'PNG'],
 'Nepal': [27.15, 85.9, 'Nepal', 'NPL'],
 'Ball': [39.644359, -89.626357, 'United States', 'USA'],
 'Scotland': [56.83301, -4.180209, 'United Kingdom', 'GBR'],
 'Bangladesh': [24.045958, 90.032723, 'Bangladesh', 'BGD'],
 'Pedro': [16.776738, -62.196701, None, None],
 'Sul': [-27.555301, -51.383962, 'Brazil', 'BRA'],
 'Australia': [-23.992438, 134.050443, 'Australia', 'AUS'],
 'Sydney': [-33.868633, 151.209421, 'Australia', 'AUS'],
 'Melbourne': [-37.825071, 144.978682, 'Australia', 'AUS'],
 'Heath': [53.2, -1.33333, 'United Kingdom', 'GBR'],
 'Vietnam': [21.732568, 105.396672, 'Vietnam', 'VNM'],
 'Puerto': [36.595032, -6.234054, 'Spain', 'ESP'],
 'Mal': [16.08694, -15.72389, 'Senegal', 'SEN'],
 'Pam': [33.93316, 49.6912, 'Iran', 'IRN'],
 'Kat': [39.436109, -119.543841, 'United States', 'USA'],
 'Tan': [47.72021, -115.43544, 'United States', 'USA'],
 'Minas': [-23.570533, -46.663713, 'Brazil', 'BRA'],
 'Sicily': [37.588525, 14.146425, 'Italy', 'ITA'],
 'Moscow': [55.741469, 37.615561, 'Russia', 'RUS'],
 'Alaska': [64.724809, -153.629618, 'United States', 'USA'],
 'Pakistan': [29.329836, 68.560265, 'Pakistan', 'PAK'],
 'Delhi': [28.557163, 77.163665, 'India', 'IND'],
 'Dubai': [25.12148, 55.297615, 'United Arab Emirates', 'ARE'],
 'Netherlands': [52.554205, 5.501896, 'Netherlands', 'NLD'],
 'Assam': [26.272528, 92.877434, 'India', 'IND'],
 'Block': [40.087912, -105.326561, 'United States', 'USA'],
 'District': [40.346666, -75.658614, 'United States', 'USA'],
 'Bihar': [25.708465, 85.573398, 'India', 'IND'],
 'Gujarat': [23.361661, 71.64895, 'India', 'IND'],
 'Tamil': [11.052213, 78.408526, 'India', 'IND'],
 'Nadu': [24.9307, 105.4, 'China', 'CHN'],
 'Gloucester': [42.626925, -70.690053, 'United States', 'USA'],
 'Czech': [49.88233, 15.377705, 'Czechia', 'CZE'],
 'Kingdom': [41.89364, -89.39371, 'United States', 'USA'],
 'Trinidad': [10.435364, -61.264793, 'Trinidad and Tobago', 'TTO'],
 'and': [42.547076, 1.576286, 'Andorra', 'AND'],
 'Tobago': [10.435364, -61.264793, 'Trinidad and Tobago', 'TTO'],
 'Rome': [41.878243, 12.52809, 'Italy', 'ITA'],
 'Lawrence': [38.958184, -95.266212, 'United States', 'USA'],
 'Top': [39.041966, -95.698227, 'United States', 'USA'],
 'Ada': [44.302428, -96.785661, 'United States', 'USA'],
 'Guinea': [10.625075, -9.951975, 'Guinea', 'GIN'],
 'Cincinnati': [39.14767, -84.543959, 'United States', 'USA'],
 'Abu': [24.597067, 72.718738, 'India', 'IND'],
 'Dhabi': [24.365906, 54.582223, 'United Arab Emirates', 'ARE'],
 'Tanzania': [-5.869032, 34.800732, 'Tanzania', 'TZA'],
 'Oman': [22.113181, 57.34568, 'Oman', 'OMN'],
 'UAE': [-6.230868, 144.664721, 'Papua New Guinea', 'PNG'],
 'Dar': [33.83393, 70.29151, 'Pakistan', 'PAK'],
 'Sal': [16.732383, -22.939911, 'Cape Verde', 'CPV'],
 'Eastern': [2.59552, 37.918971, 'Kenya', 'KEN'],
 'Croydon': [51.373327, -0.092786, 'United Kingdom', 'GBR'],
 'Oakland': [37.785199, -122.197811, 'United States', 'USA'],
 'Bang': [-13.21667, 34.28333, None, None],
 'Manila': [14.593819, 120.992302, 'Philippines', 'PHL'],
 'Francisco': [20.81914, -77.57958, 'Cuba', 'CUB'],
 'Manhattan': [40.777048, -73.967596, 'United States', 'USA'],
 'Brazil': [-11.928923, -49.542449, 'Brazil', 'BRA'],
 'Connecticut': [41.580163, -72.756629, 'United States', 'USA'],
 'Colombia': [4.6, -74.51667, 'Colombia', 'COL'],
 'Uganda': [0.90406, 32.443764, 'Uganda', 'UGA'],
 'Senegal': [15.13855, -14.768082, 'Senegal', 'SEN'],
 'Pen': [18.755443, 73.092203, 'India', 'IND'],
 'Burma': [21.576814, 96.06596, 'Myanmar', 'MMR'],
 'Asia': [49.512481, 94.464337, None, None],
 'Malaysia': [2.521947, 113.833569, 'Malaysia', 'MYS'],
 'Ben': [10.330607, 2.362221, 'Benin', 'BEN'],
 'Island': [64.779262, -18.673522, 'Iceland', 'ISL'],
 'Ming': [53.384881, 7.206435, 'Germany', 'DEU'],
 'Man': [54.255204, -4.49708, 'Isle of Man', 'IMN'],
 'Ray': [38.995932, -94.464082, 'United States', 'USA'],
 'Bangkok': [13.881591, 100.644533, 'Thailand', 'THA'],
 'Germany': [50.970097, 9.687096, 'Germany', 'DEU'],
 'Ave': [48.57349, 0.2782, 'France', 'FRA'],
 'Chang': [5.44559, 10.055, 'Cameroon', 'CMR'],
 'Croatia': [45.805356, 16.375139, 'Croatia', 'HRV'],
 'Bosnia': [44.091039, 18.06843, 'Bosnia and Herzegovina', 'BIH'],
 'Albania': [40.647186, 20.127352, 'Albania', 'ALB'],
 'Edinburgh': [55.929742, -3.306716, 'United Kingdom', 'GBR'],
 'Desert': [-20.96594, 55.63306, 'France', 'FRA'],
 'Mongolia': [45.99339, 104.159557, 'Mongolia', 'MNG'],
 'Congo': [-2.271721, 23.513592, 'Democratic Republic of Congo', 'COD'],
 'Democratic': [9, 39.5, 'Ethiopia', 'ETH'],
 'Myanmar': [21.576814, 96.06596, 'Myanmar', 'MMR'],
 'Manchester': [18.037405, -77.502783, 'Jamaica', 'JAM'],
 'Cape': [12.23333, -14.7, 'Guinea-Bissau', 'GNB'],
 'Town': [44.302629, -78.319714, 'Canada', 'CAN'],
 'Western': [0.512862, 34.576492, 'Kenya', 'KEN'],
 'Park': [39.78484, -76.96678, 'United States', 'USA'],
 'station': [37.44304, -87.24574, 'United States', 'USA'],
 'Vol': [39.219248, 22.785013, 'Greece', 'GRC'],
 'Lake': [40.94672, -81.359715, 'United States', 'USA'],
 'Bud': [26.65972, 101.57543, 'China', 'CHN'],
 'Rwanda': [-1.89815, 30.095066, 'Rwanda', 'RWA'],
 'Vegas': [36.190364, -115.279104, 'United States', 'USA'],
 'Mode': [20.25067, 81.35464, 'India', 'IND'],
 'Jose': [14.66792, -61.04558, 'France', 'FRA'],
 'Las': [36.31663, 51.82854, 'Iran', 'IRN'],
 'East': [3.834744, 14.028273, 'Cameroon', 'CMR'],
 'Kosovo': [42.590239, 20.875449, 'Kosovo', 'XKX'],
 'Met': [18.682073, 101.902801, 'Laos', 'LAO'],
 'Mac': [22.139833, 113.563619, 'Macau S.A.R.', 'MAC'],
 'County': [59.5, 18, 'Sweden', 'SWE'],
 'Mei': [24.30817, 116.123721, 'China', 'CHN'],
 'Maria': [19.147711, -99.582468, 'Mexico', 'MEX'],
 'Bai': [2.631579, 43.681258, 'Somalia', 'SOM'],
 'Vancouver': [49.2819, -123.11874, 'Canada', 'CAN'],
 'Canada': [58.33747, -112.384858, 'Canada', 'CAN'],
 'Honolulu': [21.40572, -157.789396, 'United States', 'USA'],
 'Hawaii': [19.647634, -155.533256, 'United States', 'USA'],
 'Poland': [51.99605, 19.488789, 'Poland', 'POL'],
 'Britain': [52.418788, -1.247349, 'United Kingdom', 'GBR'],
 'Latvia': [57.06689, 25.458464, 'Latvia', 'LVA'],
 'Soviet': [63.314401, 93.884016, 'Russia', 'RUS'],
 'Union': [13.528753, -87.893243, 'El Salvador', 'SLV'],
 'Punjab': [31.110484, 72.384598, 'Pakistan', 'PAK'],
 'Southeast': [-19.223018, -43.909189, 'Brazil', 'BRA'],
 'Liverpool': [53.410374, -2.979375, 'United Kingdom', 'GBR'],
 'Heaven': [51.507865, -0.12456, 'United Kingdom', 'GBR'],
 'Hunt': [23.07533, 85.27903, 'India', 'IND'],
 'Alabama': [32.688053, -86.810585, 'United States', 'USA'],
 'Cebu': [10.31672, 123.89071, 'Philippines', 'PHL'],
 'Sin': [32.529718, 106.802874, 'China', 'CHN'],
 'Iraq': [33.115715, 43.285188, 'Iraq', 'IRQ'],
 'Cho': [38.036141, -78.482369, 'United States', 'USA'],
 'Sand': [25.75648, 82.15902, 'India', 'IND'],
 'Mir': [54.81222, 63.46194, 'Russia', 'RUS'],
 'Kota': [25.170214, 75.843288, 'India', 'IND'],
 'Kuwait': [29.422226, 47.330015, 'Kuwait', 'KWT'],
 'State': [6.92987, 9.30217, 'Nigeria', 'NGA'],
 'Budapest': [47.516581, 19.092281, 'Hungary', 'HUN'],
 'Libya': [26.666955, 18.030248, 'Libya', 'LBY'],
 'Pune': [18.519479, 73.870703, 'India', 'IND'],
 'Benin': [9.30769, 2.31583, 'Benin', 'BEN'],
 'Holland': [52.554205, 5.501896, 'Netherlands', 'NLD'],
 'Sweden': [65.859144, 19.017205, 'Sweden', 'SWE'],
 'Hui': [34.28155, 73.38353, 'Pakistan', 'PAK'],
 'Guadalajara': [20.673618, -103.351266, 'Mexico', 'MEX'],
 'West': [5.420717, 10.70225, 'Cameroon', 'CMR'],
 'Tokyo': [35.695126, 139.75391, 'Japan', 'JPN'],
 'Greece': [39.78331, 21.708535, 'Greece', 'GRC'],
 'Siberia': [2.78689, -76.51955, 'Colombia', 'COL'],
 'Russia': [63.314401, 93.884016, 'Russia', 'RUS'],
 'Israel': [30.895128, 34.874702, 'Israel', 'ISR'],
 'Tel': [33.39487, 48.15506, 'Iran', 'IRN'],
 'Aviv': [32.066455, 34.783553, 'Israel', 'ISR'],
 'Saw': [52.522886, -2.007583, 'United Kingdom', 'GBR'],
 'Don': [37.74205, -81.93901, 'United States', 'USA'],
 'Cairo': [30.079694, 31.323437, 'Egypt', 'EGY'],
 'Sid': [18.278506, -73.82652, 'Haiti', 'HTI'],
 'Jakarta': [-6.208054, 106.77605, 'Indonesia', 'IDN'],
 'Sur': [4.165951, -55.945507, 'Suriname', 'SUR'],
 'Tim': [-19.91869, -63.90789, 'Bolivia', 'BOL'],
 'Veracruz': [19.182946, -96.153877, 'Mexico', 'MEX'],
 'Orlando': [28.41959, -81.293691, 'United States', 'USA'],
 'Liberia': [6.445025, -9.449891, 'Liberia', 'LBR'],
 'Mon': [54.255204, -4.49708, 'Isle of Man', 'IMN'],
 'Saudi': [23.801889, 44.708041, 'Saudi Arabia', 'SAU'],
 'Arabia': [40.36352, -118.39265, 'United States', 'USA'],
 'Tbilisi': [41.69411, 44.83368, 'Georgia', 'GEO'],
 'Ash': [42.747516, -71.485751, 'United States', 'USA'],
 'Jiang': [34.8021, 102.706, 'China', 'CHN'],
 'Shanghai': [31.246027, 121.483385, 'China', 'CHN'],
 'Toronto': [43.64877, -79.38171, 'Canada', 'CAN'],
 'Ping': [24.8082, 106.184, 'China', 'CHN'],
 'Police': [53.579995, 14.544588, 'Poland', 'POL'],
 'Station': [37.44304, -87.24574, 'United States', 'USA'],
 'Shi': [6.25624, -2.65842, 'Ghana', 'GHA'],
 'Yerevan': [40.155704, 44.524938, 'Armenia', 'ARM'],
 'Ohio': [40.262259, -82.883453, 'United States', 'USA'],
 'Athens': [37.988579, 23.728541, 'Greece', 'GRC'],
 'Glasgow': [55.860766, -4.268234, 'United Kingdom', 'GBR'],
 'Qing': [50.938291, 6.971845, 'Germany', 'DEU'],
 'Township': [0.28795, 34.75019, 'Kenya', 'KEN'],
 'Tirana': [41.282045, 19.799067, 'Albania', 'ALB'],
 'Sichuan': [30.738864, 102.695767, 'China', 'CHN'],
 'Geneva': [46.201511, 6.143889, 'Switzerland', 'CHE'],
 'Syria': [35.00845, 38.288461, 'Syria', 'SYR'],
 'Has': [28.22107, 61.21582, 'Iran', 'IRN'],
 'Jess': [51.405171, 6.874616, 'Germany', 'DEU'],
 'Kolkata': [22.51829, 88.362951, 'India', 'IND'],
 'Islamic': [29.329836, 68.560265, 'Pakistan', 'PAK'],
 'Chan': [11.73333, 37.71667, 'Ethiopia', 'ETH'],
 'Ljubljana': [46.063562, 14.48854, 'Slovenia', 'SVN'],
 'Bombay': [19.131577, 72.891418, 'India', 'IND'],
 'Lucknow': [26.85579, 80.939247, 'India', 'IND'],
 'Venezuela': [7.18646, -64.568705, 'Venezuela', 'VEN'],
 'Caracas': [10.505146, -66.917878, 'Venezuela', 'VEN'],
 'Pat': [25.619273, 85.10641, 'India', 'IND'],
 'Jordan': [30.802264, 36.391527, 'Jordan', 'JOR'],
 'Baghdad': [33.34058, 44.40088, 'Iraq', 'IRQ'],
 'Haifa': [32.792761, 34.995336, 'Israel', 'ISR'],
 'War': [52.216154, -1.586269, 'United Kingdom', 'GBR'],
 'Moldova': [47.435, 28.487904, 'Moldova', 'MDA'],
 'Columbia': [3.46833, -75.60833, 'Colombia', 'COL'],
 'Kara': [9.589125, 0.87536, 'Togo', 'TGO'],
 'Armenia': [40.474724, 44.80561, 'Armenia', 'ARM'],
 'Turkey': [39.339547, 34.51052, 'Turkey', 'TUR'],
 'Istanbul': [41.01384, 28.94966, 'Turkey', 'TUR'],
 'Carr': [34.93109, -120.51183, 'United States', 'USA'],
 'Mont': [50.422144, 3.87418, 'Belgium', 'BEL'],
 'Zambia': [-14.936526, 25.940824, 'Zambia', 'ZMB'],
 'Kali': [3.43722, -76.5225, 'Colombia', 'COL'],
 'Sacramento': [-34.191051, -57.708725, 'Uruguay', 'URY'],
 'Browns': [22.72917, -74.06036, 'The Bahamas', 'BHS'],
 'Avon': [48.406181, 2.721571, 'France', 'FRA'],
 'Bremen': [53.029599, 8.731851, 'Germany', 'DEU'],
 'Slovakia': [48.752408, 19.201811, 'Slovakia', 'SVK'],
 'Bohemia': [49.88233, 15.377705, 'Czechia', 'CZE'],
 'Miss': [23.13216, 58.39388, 'Oman', 'OMN'],
 'Sumatra': [0, 102, 'Indonesia', 'IDN'],
 'Wells': [51.211332, -2.646625, 'United Kingdom', 'GBR'],
 'Carolina': [18.399299, -65.969759, None, None],
 'Atlanta': [33.769805, -84.414581, 'United States', 'USA'],
 'Mari': [18.683211, -2.015109, 'Mali', 'MLI'],
 'Aria': [34.356867, 61.934317, 'Afghanistan', 'AFG'],
 'Chi': [41.87897, -87.66063, 'United States', 'USA'],
 'Black': [37.951183, -87.958859, 'United States', 'USA'],
 'Sea': [40.862838, 14.237375, 'Italy', 'ITA'],
 'Pol': [51.99605, 19.488789, 'Poland', 'POL'],
 'Marin': [14.47212, -60.86973, None, None],
 'Mata': [35.888972, 14.431432, 'Malta', 'MLT'],
 'Petersburg': [59.821127, 30.388194, 'Russia', 'RUS'],
 'Hamburg': [53.576158, 10.007046, 'Germany', 'DEU'],
 'Milan': [45.473702, 9.170685, 'Italy', 'ITA'],
 'Brussels': [50.843183, 4.371755, 'Belgium', 'BEL'],
 'Antwerp': [51.222805, 4.655059, 'Belgium', 'BEL'],
 'Bat': [51.378485, -2.36767, 'United Kingdom', 'GBR'],
 'Kenya': [0.543716, 37.918308, 'Kenya', 'KEN'],
 'Leo': [11.10033, -2.10654, 'Burkina Faso', 'BFA'],
 'Bahrain': [26.0845, 50.550672, 'Bahrain', 'BHR'],
 'Iran': [31.931398, 55.245317, 'Iran', 'IRN'],
 'Joy': [22.51829, 88.362951, 'India', 'IND'],
 'Narayan': [27.57454, 81.49579, 'India', 'IND'],
 'Tang': [45.269085, -108.970328, 'United States', 'USA'],
 'Din': [45.369713, -97.607397, 'United States', 'USA'],
 'Bengal': [15.9708, 120.2942, 'Philippines', 'PHL'],
 'Dhaka': [23.7104, 90.40744, 'Bangladesh', 'BGD'],
 'Bari': [41.111267, 16.861202, 'Italy', 'ITA'],
 'Sultan': [39.6365, 46.45029, 'Azerbaijan', 'AZE'],
 'Bit': [47.031994, 15.406712, 'Austria', 'AUT'],
 'Cyprus': [34.881852, 33.011051, 'Cyprus', 'CYP'],
 'Telangana': [18, 79.5, 'India', 'IND'],
 'Gun': [45.369713, -97.607397, 'United States', 'USA'],
 'Ang': [45.647542, 0.147707, 'France', 'FRA'],
 'Karnataka': [14.882195, 75.57454, 'India', 'IND'],
 'Hyderabad': [17.390617, 78.470769, 'India', 'IND'],

In [21]:
df2=pd.DataFrame.from_dict(coordinates,orient='index')

In [22]:
df2.reset_index(inplace = True)

In [23]:
df2.to_csv('victims_locations2.csv')

In [24]:
df2

        index          0           1              2    3
0    American  40.769013  -84.192828  United States  USA
1       Samoa -13.639140 -172.438241          Samoa  WSM
2         Col   3.420497  -73.166783       Colombia  COL
3         Sri  32.936430   74.399000       Pakistan  PAK
4       Lanka   7.622919   80.688220      Sri Lanka  LKA
..        ...        ...         ...            ...  ...
490   Tripoli  32.892500   13.180012          Libya  LBY
491     Malta  35.888972   14.431432          Malta  MLT
492       Ara  25.552353   84.666138          India  IND
493     Sabha  27.037660   14.428320          Libya  LBY
494      Cast  10.850000   39.183330       Ethiopia  ETH

[495 rows x 5 columns]